.section.hero-header
  .row.animated.fadeInDown
    .five.columns
      &nbsp;
    .two.columns.logo-plakeit
      = image_tag('logo.png')
    .five.columns.options
      - if I18n.locale == :en
        = link_to "Español", params.merge(locale: :es), class: 'language'
      - else
        = link_to "English", params.merge(locale: :en), class: 'language'

      = link_to t('im_business'), business_root_path, class: 'button button-primary'

  .container
    .row
      .one-half.column.animated.fadeInUp
        %h4.hero-heading= t('.slogan')
        = form_for @suscriptor, url: suscriptors_path, method: :post, html: { id: 'new_suscriptor' } do |f|
          %p.be_first= t('.be_first')
          = f.text_field :email, id: 'suscriptor_email', required: "required", type: 'email', placeholder: t('.email')
          = f.submit nil, class: 'button button-primary'
      .one-half.column.animated.fadeInRight
        = image_tag('events.png', class: 'phone')

.section.features
  .container
    .row.header
      .two.columns &nbsp;
      .eight.columns.wow.fadeInUp
        %h2.title= t('.slogan1')
        %p.description= t('.description')

    .row.content
      .six.columns.first.wow.fadeInLeft
        .container-text
          %h2.value-heading= t('.title_feature1')
          %p.value-description= t('.description_feature1')
      .six.columns.second.wow.fadeInRight
        .container-text
          %h2.value-heading= t('.title_feature2')
          %p.value-description= t('.description_feature2')

    .row.content
      .six.columns.three.wow.fadeInLeft
        .container-text
          %h2.value-heading= t('.title_feature3')
          %p.value-description= t('.description_feature3')
      .six.columns.four.wow.fadeInRight
        .container-text
          %h2.value-heading= t('.title_feature4')
          %p.value-description= t('.description_feature4')

.section.screen-mobil
  .container
    .row
      .one-half.column.category.wow.fadeInLeft
        %h3.section-heading= t('.slogan2')
        .section-description
          %ul
            - t('.descriptions_screen').each_line do |line|
              %li= line
      .one-half.column.category.wow.fadeInRight
        = image_tag('screen_mobil.png', class: 'u-max-full-width')

.section.get-help.wow.fadeInUp
  .container
    %h3.section-heading= t('.get_help')
    %p.section-description= t('.get_help_description')
    %a.button.button-primary{href: "#", mail_to: 'hello@walkant.com'}= t('.contact')

.section.im-business.wow.fadeInUp
  .container
    %h3.section-heading= t('.get_business')
    = link_to t('im_business'), business_root_path, class: 'button button-primary'

= render 'shared/footer_landing'
