.section.hero
  .logo.row.animated.fadeInDown
    .one-half.column.animated.fadeInUp
      = image_tag('logo.png')
  .container
    .row
      .one-half.column.animated.fadeInUp
        %h4.hero-heading= t('.slogan')

        %form#suscription{method: "post"}
          %p= t('.be_first')
          %input.email-user{name: "email", placeholder: "Email address", type: "email"}
          %input.button.button-primary{type: "submit", value: "Suscribirme"}
      .one-half.column.animated.fadeInRight
        = image_tag('events.png', class: 'phone')

.section.features
  .container
    .row.header
      .two.columns &nbsp;
      .eight.columns.wow.fadeInUp
        %h2.title= t('.slogan1')
        %p.description= t('.description')

    .row.content
      .six.columns.first.wow.fadeInLeft
        .container-text
          %h2.value-heading= t('.title_feature1')
          %p.value-description= t('.description_feature1')
      .six.columns.second.wow.fadeInRight
        .container-text
          %h2.value-heading= t('.title_feature2')
          %p.value-description= t('.description_feature2')

    .row.content
      .six.columns.three.wow.fadeInLeft
        .container-text
          %h2.value-heading= t('.title_feature3')
          %p.value-description= t('.description_feature3')
      .six.columns.four.wow.fadeInRight
        .container-text
          %h2.value-heading= t('.title_feature4')
          %p.value-description= t('.description_feature4')

.section.screen-mobil
  .container
    .row
      .one-half.column.category.wow.fadeInLeft
        %h3.section-heading ENCUENTRA TUS EVENTOS FAVORITOS
        %p.section-description Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage. Chillwave craft beer tote bag stumptown quinoa hashtag.
      .one-half.column.category.wow.fadeInRight
        = image_tag('screen_mobil.png', class: 'u-max-full-width')
.section.get-help.wow.fadeInUp
  .container
    %h3.section-heading= t('.get_help')
    %p.section-description= t('.get_help_description')
    %a.button.button-primary{href: "#", mail_to: 'hello@walkant.com'}= t('.contact')
