.col.s12.m4
  .card
    .card-image
      = link_to public_event, 'data-no-turbolink' => true do
        = attachment_image_tag(public_event, :image, fallback: 'header.jpeg')
    .card-content
      = link_to public_event.title, public_event, class: 'truncate', 'data-no-turbolink' => true
    .card-action
      %p
        %i{:class => "tiny material-icons"} location_on
        = public_event.address
      %br
      %p
        %i{:class => "tiny material-icons"} perm_contact_calendar
        = l(public_event.start_at, format: :long)
      %br
