.parallax-container
  .parallax
    - categories = %w(nightlife people city)
    = lorempixel_image_tag '1400x1100', category: categories.sample, item: (1..10).to_a.sample, class: 'imag-bg'
    .col.s12.m12
      %nav.calendar
        .nav-wrapper
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              = image_tag("calendar.png", :alt => "plakeit", :width => 50, :height => 50, class: 'circle user')
    .row.headerShow
      .col.s12.m10.offset-m1.title-event
        %h3
          = @public_event.title

.row.contentShow
  .col.s9.offset-s2.m5.offset-m1
    %p.sizeP
      %i{:class => "tiny material-icons"} location_on
      = @public_event.address
    %p.sizeP
      %i{:class => "tiny material-icons"} perm_contact_calendar
      = l(@public_event.start_at, format: :long)

  .col.s9.offset-s2.m3.offset-m2.diffuses
    %p.sizeP Difunde
    %ul
      %li
        = link_to(image_tag("twitter.png"))
      %li
        = link_to(image_tag("facebook.png"))
      %li
        = link_to(image_tag("mail.png"))
      %li= "#{@public_event.impressionist_count} views"

.col.s12.m12.content-information
  .row
    .col.s12.m10.offset-m1.sizeText
      %p.sizeP
        = @public_event.description

  .row
    %div{style: 'width: 100%'}
      #custom_style{style: 'width: 100%; height: 400px'}
