.parallax-container
  .parallax
    = image_tag attachment_url(@public_event, :image)
    .row.headerShow
      .col.s12.m10.offset-m1.title-event
        %h3
          = @public_event.title

    .col.s12.m12.headerAssistant.center-align
      .contentAssistant
        .row
          .col.rigth
            = image_tag("https://scontent-grt2-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/12936633_1289683714378612_7226081659011426520_n.jpg?oh=3d63f80916e891bdc31e1b7b1205c700&oe=57822905", :alt => "plakeit", :width => 40, :height => 40, class: 'circle user')
          .col.rigth
            = image_tag("https://scontent-grt2-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/12936633_1289683714378612_7226081659011426520_n.jpg?oh=3d63f80916e891bdc31e1b7b1205c700&oe=57822905", :alt => "plakeit", :width => 40, :height => 40, class: 'circle user')

.row.contentEvent
  .col.s8.push-s2
    .col.l8
      %p
        %i{:class => "tiny material-icons "} location_on
        = @public_event.address
      %p
        %i{:class => "tiny material-icons"} perm_contact_calendar
        = l(@public_event.start_at, format: :long)
    .col.l4
      .col.s12.push-s1
        %a.waves-effect.waves-light.btn
          %i.small.material-icons.left perm_contact_calendar
          Agendar

.row
  .col.s8.push-s2
    .col.l8
      %h5.contentTitle
        = @public_event.title
      %p.contentDescription
        = @public_event.description
    .col.l4
      .card.whithe-grey.darken-1#aside
        .card-content
          %p.sizeCart
            %i{:class => "tiny material-icons"} location_on
            = @public_event.address
          %p.sizeCart
            %i{:class => "tiny material-icons"} perm_contact_calendar
            = l(@public_event.start_at, format: :long)
          %p.sizeCart.red-text.center
            = "#{@public_event.impressionist_count} vistas"

        .card-action.center
          %a#fbmsn
            = image_tag("facebook-msn.png")
          %a.goodshare{"data-type" => "fb", :href => "#"}
            = image_tag("facebook.png")
          %a.goodshare{"data-type" => "wa", :href => "#"}
            = image_tag("whatsapp.png")

.row.mb0
  #custom_style{style: 'width: 100%; height: 470px'}
