.parallax-container
  .parallax
    = attachment_image_tag(@public_event, :image, fallback: 'header.jpeg')
    .row.headerShow
      .col.s12.m10.offset-m1.title-event
        %h3
          = @public_event.title

    .row.assistant
      .col.l6.push-l3.m12.s12
        %span= pluralize(@public_event.users.count, 'asistirá', 'asistirán')
        - extract_assistant(@assistants).each do |assistant|
          = image_tag assistant.avatar, class: 'circle', :alt => assistant.fullname, :width => 50, :height => 50

.row.contentEvent
  .col.l8.push-l2.s12.m12
    .col.l8.m8.s11.push-s1
      %p
        %i.fa.fa-calendar.fa-1x
        = l(@public_event.start_at, format: :long)
      %p
        %i{:class => "tiny material-icons"} business
        = @public_event.location
      %p
        %i.fa.fa-map-marker.fa-1x
        = @public_event.address

    .col.l4.m4.s12.addCalendar.pt10
      = render 'shared/addcalendar', event: @public_event
.row
  .col.l8.push-l2.s12.m12
    - if mobile_device?
      .col.s12.hide-on-large-only.hide-on-med-only
        = render 'aside'

    .col.l8.m8.s12
      %h5.contentTitle
        = @public_event.title
      %p.contentDescription
        = @public_event.description
    - unless mobile_device?
      .col.l4.m4.hide-on-small-only
        = render 'aside'

.row.mb0
  #map{style: 'width: 100%; height: 470px'}

:javascript
  buildMap(#{raw @hash.to_json})
