.container
  - url = @event.new_record? ? scrappers_path : scrapper_path(@event)
  = simple_form_for @event, url: url do |f|
    - if @event.errors.any?
      #error_explanation
        %h2= "#{pluralize(@event.errors.count, "error")} prohibited this scrapper from being saved:"
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    = f.input :title
    = f.association :category
    = f.label :start_at
    .row
      = f.input_field :start_at, class: 'col s2'
    = f.label :end_at
    .row
      = f.input_field :end_at, class: 'col s2'
    = f.input :address
    = f.input :location
    .row
      .col.s6
        = f.input :latitude
      .col.s6
        = f.input :longitude
    = f.input :description, input_html: { class: 'materialize-textarea' }
    = f.label :image
    .row
      = f.attachment_field :image
    .row
      = f.input :remote_image_url
    - if @event.image_id?
      = image_tag attachment_url(@event, :image, :fill, 300, 300, format: 'jpg')
    .actions
      = f.submit 'Save', class: 'btn waves-effect'
