.addeventatc.theme1{title: 'Add to Calendar'}
  = event.exist?(current_user) ? 'Scheduled' : 'Add to Calendar'
  %span.start= event.start_at
  %span.end= event.end_at
  %span.timezone America/Lima
  %span.title= event.title
  %span.description= event.description
  %span.location= event.location
  %span.organizer Plakeit
  %span.all_day_event false
  %span.date_format MM/DD/YYYY
