= link_to_current 'CONCIERTOS', category_events_path('concierto')
= link_to_current 'NOCTURNOS', category_events_path('nocturnos')
= link_to_current 'CULTURA', category_events_path('cultura')
= link_to_current 'VIAJE & AVENTURA', category_events_path('viaje&aventura')
= link_to_current 'EJERCICIOS', category_events_path('ejercicios')
