%header.bgIndex
  %nav
    .nav-wrapper
      = link_to(image_tag("logo.png", :alt => "plakeit", :width => 150, :height => 60), root_path)
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %a.waves-effect.waves-light.btn-large
            %span.icon-facebook
              = image_tag('facebook_icon.png')
            Ingresa con facebook
      .row.header-text
        .col.m8.offset-m2
          %h4 DESCUBRE EVENTOS EN TU CIUDAD
          %form.size-form
            .col.s12.m3
              %select.browser-default
                %option.color{:disabled => "", :selected => "", :value => ""} Concierto de
                %option.color{:value => "1"} Option 1
                %option.color{:value => "2"} Option 2
                %option.color{:value => "3"} Option 3
            .col.s12.m9.formTog
              %input#icon-form{:placeholder => "Nombre o #tag", :type => "text"}
              / %input{:placeholder => "Nombre o #tag", :type => "text", :name => "name "}

.col.s12.m12
  .col.s12.m12
    .row
      .col.s12.m7.offset-m3.menubar
        %ul
          %li
            %a.active TODOS
          %li
            %a CONCIERTOS
          %li
            %a TEATROS
          %li
            %a MUSICALES


.row.size-content#list-public-events
  %h5 Eventos de la semana
  = render @weekly_events

.row.size-content#list-public-events
  %h5 Proximos Eventos
  = render @public_events

.row
  .col.s12.m5.offset-m5
    - unless @public_events.current_page == @public_events.total_pages
      %p#view-more
        = link_to('View More', url_for(page: @public_events.current_page + 1), remote: true)
