%header.bgIndex
  .row.header-title
    .row
      .col.l8.push-l2.m8.push-m2.center
        %h1 Encuentra tu lugar de diversión :)
        %h2 Conoce lugares de acuerdo a tu estilo y pásala genial junto a tus amigos.
    .row
      .col.l6.push-l3.m6.push-m3
        = form_tag root_path, method: :get, id: 'form-search', enforce_utf8: false do
          .row
            .input-field.col.l12
              %i.material-icons.prefix search
              = text_field_tag :search, params[:search], id: 'icon_prefix', class: 'search', placeholder: 'Nombre o #tag'

#content-event
  .row.list-events#list-weekly-events
    .col.l8.push-l2
      %h5 Eventos de la semana
      = render @weekly_events

  .row.list-events#list-public-events
    .col.l8.push-l2
      %h5 Proximos Eventos
      = render @public_events

.row.container
  .col.m4.push-m4.s12.l4.push-l4  
    - unless @public_events.current_page == @public_events.total_pages
      = link_to url_for(page: @public_events.current_page + 1), remote: true do
        %p#view-more View More
