%header.bgIndex
  .row.header-title
    .row
      .col.s8.push-s2.center
        %h1 Encuentra tu lugar de diversión :)
        %h2 Conoce lugares de acuerdo a tu estilo y pásala genial junto a tus amigos.
    .row
      .col.s6.push-s3
        = simple_form_for :search, url: '' do |f|
          .row
            .input-field.col.s12
              %i.material-icons.prefix search
              = f.input_field :search, id: 'icon_prefix', class: 'search', placeholder: 'Nombre o #tag'

#content-event
  .row.list-events#list-weekly-events
    .col.s8.push-s2
      %h5 Eventos de la semana
      = render @weekly_events

  .row.list-events#list-public-events
    .col.s8.push-s2
      %h5 Proximos Eventos
      = render @public_events

.row
  .col.s12.m12
    - unless @public_events.current_page == @public_events.total_pages
      = link_to url_for(page: @public_events.current_page + 1), remote: true do
        %p#view-more View More
