%header.bgIndex
  %nav
    .nav-wrapper
      = link_to(image_tag("logo.png", :alt => "plakeit", :width => 150, :height => 60), root_path)
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %a.waves-effect.waves-light.btn-large
            %span.icon-facebook
              = image_tag('facebook-icon-login.png')
            Ingresa con facebook
      .row.header-text
        .col.m8.offset-m2
          %h4 DESCUBRE EVENTOS EN TU CIUDAD
          %form.size-form
            .col.s12.m3
              %select.browser-default
                %option.color{:disabled => "", :selected => "", :value => ""} Concierto de
                %option.color{:value => "1"} Option 1
                %option.color{:value => "2"} Option 2
                %option.color{:value => "3"} Option 3
            .col.s12.m9.formTog
              %input#icon-form{:placeholder => "Nombre o #tag", :type => "text"}

.col.s12.m12
  .col.s12.m12
    .row
      .col.s12.m7.offset-m3.menubar
        %ul
          %li= link_to 'TODOS', root_path, class: 'active'
          %li= link_to 'CONCIERTOS', category_events_path('concerts')
          %li= link_to 'TEATROS', category_events_path('theater')
          %li= link_to 'MUSICALES', category_events_path('musical')
.row.size-content#list-weekly-events
  %h5 Eventos de la semana
  = render @weekly_events

.row.size-content#list-public-events
  %h5 Proximos Eventos
  = render @public_events

.row
  .col.s12.m12
    - unless @public_events.current_page == @public_events.total_pages
      = link_to url_for(page: @public_events.current_page + 1), remote: true do
        %p#view-more View More
