.section.hero-header
  .row.animated.fadeInDown
    .five.columns
      &nbsp;
    .two.columns
      = link_to image_tag('logo.png'), business_root_path
    .five.columns.options
      - if params[:locale] == :en
        = link_to "Español", params.merge(locale: :es), class: 'language'
      - else
        = link_to "English", params.merge(locale: :en), class: 'language'

  .container
    .row
      .one-half.column.animated.fadeInUp
        %h4.hero-heading= t('.slogan')
        %p.be_first= t('.be_first')
        = link_to t('.suscribed'), new_business_suscriptor_path(I18n.locale), class: 'button button-primary'

      .one-half.column
        = image_tag('business/image_events.png', class: 'phone')

.section.features
  .container
    .row.header
      .two.columns &nbsp;
      .eight.columns.wow.fadeInUp
        %h2.title= t('.slogan1')
        %p.description= t('.description')
    .row.content
      .four.columns.first
        .container-text
          %h2.value-heading= t('.title_feature1')
          %p.value-description= t('.description_feature1')
      .four.columns.second
        .container-text
          %h2.value-heading= t('.title_feature2')
          %p.value-description= t('.description_feature2')
      .four.columns.three
        .container-text
          %h2.value-heading= t('.title_feature3')
          %p.value-description= t('.description_feature3')

.section.screen-mobil
  .container
    .row
      .one-half.column.category.wow.fadeInLeft
        %h3.section-heading= t('.slogan2')
        %p.section-description= t('.description2')
      .one-half.column.category.wow.fadeInRight
        = image_tag('business/screen_mobil.png', class: 'u-max-full-width')

.section.get-help.wow.fadeInUp
  .container
    %h3.section-heading= t('.get_help')
    %p.section-description= t('.get_help_description')
    %a.button.button-primary{href: "", mail_to: 'hello@walkant.com'}= t('.contact')

= render 'shared/footer_landing'
