.section.hero
  .logo.row.animated.fadeInDown
    = image_tag('logo.png')
  .container
    .row
      .one-half.column.animated.fadeInUp
        %h4.hero-heading= t('.slogan')

        %form#suscription{method: "post"}
          %p= t('.be_first')
          %input.email-user{name: "email", :placeholder => "Email address", :type => "email"}
          %input.button.button-primary{:type => "submit", :value => "Suscribirme"}
      .one-half.column
        = image_tag('business/image_events.png', class: 'phone')

.section.features
  .container
    .row.header
      .two.columns &nbsp;
      .eight.columns.wow.fadeInUp
        %h2.title= t('.slogan1')
        %p.description= t('.description')
    .row
      .four.columns.first
        .container-text
          %h2.value-heading= t('.title_feature1')
          %p.value-description= t('.description_feature1')
      .four.columns.second
        .container-text
          %h2.value-heading= t('.title_feature2')
          %p.value-description= t('.description_feature1')
      .four.columns.three
        .container-text
          %h2.value-heading= t('.title_feature3')
          %p.value-description= t('.description_feature1')

.section.screen-mobil
  .container
    .row
      .one-half.column.category.wow.fadeInLeft
        %h3.section-heading= t('.slogan2')
        %p.section-description= t('.description2')
      .one-half.column.category.wow.fadeInRight
        = image_tag('business/screen_mobil.png', class: 'u-max-full-width')

.section.get-help.wow.fadeInUp
  .container
    %h3.section-heading= t('.get_help')
    %p.section-description= t('.get_help_description')
    %a.button.button-primary{href: "", mail_to: 'hello@walkant.com'}= t('.contact')
