<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Plakeit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://www.plakeit.com" />
  <meta property="og:type"   content="website" />
  <meta property="og:title"   content="plakeit diversión nocturna" />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/plakeit.documents/plakeit.jpeg" />
  <meta property="og:image:width" content="450"/>
  <meta property="og:image:height" content="298"/>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region=' %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
  <%= javascript_include_tag 'https://addevent.com/libs/atc/1.6.1/atc.min.js', 'async' => true, 'defer' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash_messages">
    <%= render partial: "shared/flash_messages", flash: flash %>
  </div>
  <%= render partial: 'shared/header' %>
  <%= yield %>
  <footer class="page-footer">
    <div class="container">
      <div class="row mb0">
        <div class="col l6 s12">
          <h5 class="white-text center">Contactanos</h5>
            <ul class='social center'>
              <li class="white-text"> +51 985 284 455</li>
            </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text center">Siguenos</h5>
          <ul class='social center'>
            <li><%= link_to image_tag('facebook_icon.png', size: '22'), 'https://www.facebook.com/plakeit', target: '_blank' %></li>
            <li><%= link_to image_tag('twiter_icon.png', size: '22'), 'https://www.twitter.com/plakeitOficial', target: '_blank' %> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
      © 2016 Plakeit, Inc.
      </div>
    </div>
  </footer>

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75216561-1', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
